<div class="request-delete-patient-data">
    <div class="download-medical-history">
        <h3>Request Delete Personal Data</h3>

        <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
        <p class="success-message" *ngIf="successMessage">{{ successMessage }}</p>

        <input type="password" [(ngModel)]="password" placeholder="Enter your password to verify..."
            class="password-input" />

        <button (click)="onDelete()" class="delete-button">
            Delete
        </button>
        <button (click)="onCancel()" class="cancel-button">
            Back
        </button>
    </div>
</div>