<!-- Update Button -->
<button class="btn btn-primary" (click)="updateMedicalRecord()">
    Update Medical Record
</button>

<!-- Success/Error messages -->
<div *ngIf="successMessage" class="alert alert-success mt-4">
    {{ successMessage }}
</div>
<div *ngIf="errorMessage" class="alert alert-danger mt-4">
    {{ errorMessage }}
</div>

<app-filter-medical-record-entries (filterChanged)="onFilterChanged($event)"></app-filter-medical-record-entries>

<div *ngIf="
    medicalRecord?.allergies || medicalRecord?.medicalConditions;
    else noRecord
  ">
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Designation</th>
                <th>Types</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let allergy of medicalRecord?.allergies">
                <td>{{ allergy.name }}</td>
                <td>Teste</td>
                <td>Allergy</td>
                <td>{{ allergy.description }}</td>
            </tr>
            <tr *ngFor="let condition of medicalRecord?.medicalConditions">
                <td>{{ condition.code }}</td>
                <td>{{ condition.designation }}</td>
                <td>Medical Condition</td>
                <td>Diagnosticated at {{ condition.date | date : "dd-MM-yyyy" }}</td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #noRecord>
    <h4 class="no-record-message">No medical record to show</h4>
</ng-template>