<header>
  <img src="logo.png" alt="Surgical Appointment and Resource Management">
  <h1>Surgical Appointment & Resource Management</h1>
</header>
<nav>
  <a [routerLink]="['/home']">Home</a>
  <a [routerLink]="['/about']">About</a>
  <a [routerLink]="['/contact']">Contact</a>
  <a [routerLink]="['/privacy-policy']">Privacy Policy</a>
  <!-- New container for user information -->
  <div class="user-info">
    <a *ngIf="!isLoggedIn" [routerLink]="['/login']">Login</a>
    <span class="welcome" *ngIf="isLoggedIn">Welcome, {{ getUserEmail() }}</span>
    <a class="logout" *ngIf="isLoggedIn" (click)="logout()">Logout</a>
  </div>
</nav>