<header>
  <img src="logo.png" alt="Surgical Appointment and Resource Management">
  <h1>Surgical Appointment & Resource Management</h1>
</header>
<nav>
  <a href="home">Home</a>
  <a href="about">About</a>
  <a href="contact">Contact</a>
  <a href="cube">Cube</a>
  <a href="planning">Planning</a>
  <a href="patients" *ngIf="isAdmin()">Patients</a>
  <a href="operationType" *ngIf="isAdmin()">Operation Types</a>
  <a [routerLink]="['/profile', getUserEmail()]" *ngIf="isPatientUser()">Profile</a>
  
  
  <!-- New container for user information -->
  <div class="user-info">
    <a *ngIf="!isLoggedIn" href="login">Login</a>
    <span class="welcome"  *ngIf="isLoggedIn">Welcome, {{ getUserEmail() }}</span>
    <a class="logout"  *ngIf="isLoggedIn" (click)="logout()">Logout</a>
  </div>
</nav>