<div class="add-medical-oondition-container">
  <h2>Add New Medical Condition</h2>
  <p class="required-note"><span class="required">*</span> Required</p>
  <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
  <p class="success-message" *ngIf="successMessage">{{ successMessage }}</p>
  
  <form (ngSubmit)="confirmSubmission()" #medicalConditionForm="ngForm">
    <div class="medical-condition">
      <div class="form-group">
        <label for="code">Code <span class="required">*</span></label>
        <input type="text" id="code" name="code" [(ngModel)]="submitForm.code" required />
      </div>
      <div class="form-group">
        <label for="designation">Designation <span class="required">*</span></label>
        <input type="text" id="designation" name="designation" [(ngModel)]="submitForm.designation" required />
      </div>
      <div class="form-group">
        <label for="description">Description </label>
        <textarea id="description" name="description" [(ngModel)]="submitForm.description"></textarea>
      </div>
      <div class="form-group">
        <label for="commonSymptoms">Common Symptoms </label>
        <table class="table-container" *ngIf="commonSymptoms.length != 0">
          <thead>
            <tr>
              <th>Symptom</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let symptom of commonSymptoms">
              <td>{{ symptom }}</td>
            </tr>
          </tbody>
        </table>

        <div class="add-symptom-container">
          <input type="text" id="newSymptom" name="newSymptom" [(ngModel)]="newSymptom" />
          <button type="button" (click)="addSymptom()">Add</button>
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" [disabled]="!medicalConditionForm.form.valid" class="btn-submit">Add Medical Condition</button>
        <button type="button" class="btn-cancel" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </form>

  <div class="modal" *ngIf="showConfirmation">
    <div class="modal-content">
      <h3>Confirm Submission</h3>
      <p>Are you sure you want to add a new medical condition?</p>
      <div class="modal-actions">
        <button (click)="onSubmit(medicalConditionForm)" class="btn-confirm">Yes</button>
        <button (click)="closeConfirmationModal()" class="btn-cancel">No</button>
      </div>
    </div>
  </div>
</div>
