<div class="user-settings">
    <div class="user-header">
        <h2>User Settings</h2>
    </div>

    <div class="edit-user">
        <button class="edit-user" (click)="editUser()">Edit</button>
    </div>
    <div class="delete-user">
        <button class="delete-user" (click)="deleteUser()">Delete</button>
    </div>
    <div class="request-delete-personal-data">
        <button class="request-delete-personal-data" (click)="requestDeletePatientData()">Request Delete Personal Data</button>
    </div>
    <div class="data-retention-info">
        <h3>
            To see our data retention period, 
            <a routerLink="/privacy-policy" fragment="dataRetention">click here</a>.
        </h3>
    </div>
</div>