<div class="add-room-type-container">
    <h2>Add New Room Type</h2>
    <p class="required-note"><span class="required">*</span> Required</p>
    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
    <p class="success-message" *ngIf="successMessage">{{ successMessage }}</p>
    <form (ngSubmit)="confirmSubmission()" #roomTypeForm="ngForm">
        <div class="room-type">
            <div class="form-group">
                <label for="internalCode">Internal Code <span class="required">*</span></label>
                <input type="text" id="internalCode" name="internalCode" [(ngModel)]="submitForm.internalCode"
                    required />
            </div>
            <div class="form-group">
                <label for="designation">Designation <span class="required">*</span></label>
                <input type="text" id="designation" name="designation" [(ngModel)]="submitForm.designation" required />
            </div>
            <div class="form-group">
                <label for="description">Description </label>
                <textarea id="description" name="description" [(ngModel)]="submitForm.description" required></textarea>
            </div>
            <div class="form-group">
                <label for="suitableForSurgeries">Suitable for Surgeries <span class="required">*</span></label>
                <select id="suitableForSurgeries" name="suitableForSurgeries"
                    [(ngModel)]="submitForm.suitableForSurgeries" required>
                    <option value="" disabled selected>Select an option</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </div>

            <div class="form-actions">
                <button type="submit" [disabled]="!roomTypeForm.form.valid" class="btn-submit">Add Room Type</button>
                <button type="button" class="btn-cancel" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </form>

    <div class="modal" *ngIf="showConfirmation">
        <div class="modal-content">
            <h3>Confirm Submission</h3>
            <p>Are you sure you want to add a new room type?</p>
            <div class="modal-actions">
                <button (click)="onSubmit(roomTypeForm)" class="btn-confirm">Yes</button>
                <button (click)="closeConfirmationModal()" class="btn-cancel">No</button>
            </div>
        </div>
    </div>
</div>
