<div class="delete-staff">
    <h3>Are you sure you want to deactivate this staff profile?</h3>

    <p>
        Note: This staff profile will be deactivated, and some data may be retained for analysis purposes.
    </p>

    <app-mark-x
        [markText]="'I confirm'" 
        (markClicked)="onMarkClick()" 
        [ngClass]="{'active': isConfirmed}">
    </app-mark-x>

    <button (click)="onDelete()" [disabled]="!isConfirmed" class="delete-button">
        Delete
    </button>
    <button (click)="onCancel()" class="cancel-button">
        Cancel
    </button>

    <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
    </div>
</div>
