<div class="list-patients-container">
    <button class="create-patient-button" (click)="createPatient()">Create Patient Profile</button>

    <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="error-message"></div>
    {{ errorMessage }}
</div>

<app-filter-patients (filterChanged)="onFilterChanged($event)"></app-filter-patients>

<table *ngIf="paginatedPatients.length > 0">
    <thead>
        <tr>
            <th>Medical Record Number</th>
            <th>Name</th>
            <th>Email</th>
            <th>Date Of Birth</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let patient of paginatedPatients">
            <td>{{ patient.medicalRecordNumber }}</td>
            <td>{{ patient.name }}</td>
            <td>{{ patient.email }}</td>
            <td>{{ patient.dateOfBirth | date:'yyyy-MM-dd' }}</td>
            <td>
                <button (click)="seeDetails(patient)">Details</button>
            </td>
            <td>
                <button (click)="editPatient(patient)">Edit</button>
            </td>
            <td>
                <button (click)="deletePatient(patient)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="paginatedPatients.length === 0" class="no-patients-message">
    <p>No patients to show.</p>
</div>

<div class="pagination-controls" *ngIf="paginatedPatients.length > 0">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>