<div class="list-appointments-container">
    <!-- Botão para criar um novo agendamento -->
    <button class="create-appointment-button" (click)="createAppointment()">Create Appointment</button>

    <!-- Mensagens de sucesso e erro -->
    <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>

    <!-- Tabela de agendamentos -->
    <table *ngIf="paginatedAppointments.length > 0">
        <thead>
            <tr>
                
                <th>Priority</th>
                <th>Patient ID</th>
                <th>Time Slot</th>
                <th>Status</th>
                <th>Operation Room</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let appointment of paginatedAppointments">
                
                <td>{{ appointment.operationRequestPriority }}</td>
                <td>{{ appointment.operationRequestPatientId }}</td>
                <td>
                    <!-- Exibir date, startTime e endTime do time slot -->
                    {{ appointment.appointmentTimeSlot.date }} 
                    <br> 
                    {{ appointment.appointmentTimeSlot.timeSlot.startTime }} - {{ appointment.appointmentTimeSlot.timeSlot.endTime }}
                </td>
                <td>
                    <span class="appointment-status">
                        {{ appointment.appointmentStatus }}
                    </span>
                </td>
                <td>{{ appointment.operationRoomId }}</td>
                <td>
                    <button (click)="editAppointment(appointment)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Mensagem caso não haja agendamentos -->
    <div *ngIf="paginatedAppointments.length === 0" class="no-appointments-message">
        <p>No appointments to show.</p>
    </div>

    <!-- Controle de paginação -->
    <div class="pagination-controls" *ngIf="paginatedAppointments.length > 0">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
</div>
