<div class="delete-user">
    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
    <p class="success-message" *ngIf="successMessage">{{ successMessage }}</p>
    <h3>Are you sure you want to delete your account?</h3>

    <app-mark-x
        [markText]="'I confirm'" 
        (markClicked)="onMarkClick()" 
        [ngClass]="{'active': isConfirmed}">
    </app-mark-x>

    <button (click)="onRequestDelete()" [disabled]="!isConfirmed" class="delete-button">
        Delete
    </button>
    <button (click)="onCancel()" class="cancel-button">
        Cancel
    </button>
</div>