<div class="appointment-container">
    <h2>Create Appointment</h2>
  
    <!-- Formulário para criar a consulta -->
    <form #appointmentForm="ngForm" (ngSubmit)="onSubmit(appointmentForm)">
      <!-- Data e Hora -->
      <div class="form-group">
        <label for="appointmentTimeSlotDate">Appointment Date</label>
        <input type="date" id="appointmentTimeSlotDate" name="appointmentTimeSlotDate" [(ngModel)]="submitForm.appointmentTimeSlotDate" required (ngModelChange)="loadMedicalTeamToShow()">
      </div>
  
      <div class="form-group">
        <label for="appointmentTimeSlotStartMinute">Start Time (Minutes)</label>
        <input type="number" id="appointmentTimeSlotStartMinute" name="appointmentTimeSlotStartMinute" [(ngModel)]="submitForm.appointmentTimeSlotStartMinute" required (ngModelChange)="loadMedicalTeamToShow()">
      </div>
  
      <!-- Escolha de operação -->
      <div class="form-group">
        <label for="operationRequestId">Operation Request</label>
        <select id="operationRequestId" name="operationRequestId" [(ngModel)]="submitForm.operationRequestId" required (ngModelChange)="loadMedicalTeamToShow()">
          <option *ngFor="let request of operationRequests" [value]="request.id">
            {{ request.id }} <!-- Exibindo o ID da solicitação aqui -->
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="operationRoomId">Operation Room</label>
        <select id="operationRoomId" name="operationRoomId" [(ngModel)]="submitForm.operationRoomId" required (ngModelChange)="loadMedicalTeamToShow()">
          <option *ngFor="let room of operationRooms" [value]="room.roomNumber">
            {{ room.roomNumber }} <!-- Exibindo o número da sala aqui -->
          </option>
        </select>
      </div>


  
      <!-- Mostrar a seleção da medical team somente após os campos obrigatórios serem preenchidos -->
      <div *ngIf="IsMedicalTeamShowForAppointmentCreate">
        <h3>Available Medical Team</h3>

        <div class="phase-gap">
            <!-- Conteúdo da fase de cirurgia -->
        </div>
        
        <!-- Fase de Anestesia -->
        <div *ngIf="medicalTeamToShows.staffAnesthesyPhase.length > 0">
          <h4>Anesthesia Team</h4>
          <div *ngFor="let phase of medicalTeamToShows.staffAnesthesyPhase">
            <strong>Specialization:</strong> {{ getSpecializationName(phase.specializationId) }} |
            <strong>Nr Needed:</strong> {{ phase.nrNeededStaff }} |
            <div class="specialization-gap">
                <!-- Conteúdo da fase de cirurgia -->
            </div>
            <!-- Checkboxes para selecionar enfermeiros -->
            <div *ngIf="phase.staffId && phase.staffId.length > 0">
              <label *ngFor="let staff of phase.staffId">
                <input type="checkbox" 
                (change)="toggleStaffSelection(staff, 'anesthesia', phase.specializationId, phase.nrNeededStaff)"
                [checked]="isSelected(staff, 'anesthesia', phase.specializationId)" 
                [disabled]="isMaxSelected('anesthesia', phase.specializationId, phase.nrNeededStaff) && !isSelected(staff, 'anesthesia', phase.specializationId)" />
                {{ staff }} <!-- Exibindo o ID do staff -->
              </label>
            </div>
          </div>
        </div>
  
        <div class="phase-gap">
            <!-- Conteúdo da fase de cirurgia -->
        </div>

        <!-- Fase de Cirurgia -->
        <div *ngIf="medicalTeamToShows.staffSurgeryPhase.length > 0">
          <h4>Surgery Team</h4>
          
          <div *ngFor="let phase of medicalTeamToShows.staffSurgeryPhase">
            <strong>Specialization:</strong> {{ getSpecializationName(phase.specializationId) }} |
            <strong>Nr Needed:</strong> {{ phase.nrNeededStaff }} |
            <div class="specialization-gap">
                <!-- Conteúdo da fase de cirurgia -->
            </div>
            <!-- Checkboxes para selecionar cirurgiões -->
            <div *ngIf="phase.staffId && phase.staffId.length > 0">
              <label *ngFor="let staff of phase.staffId">
                <input type="checkbox" 
                (change)="toggleStaffSelection(staff, 'surgery', phase.specializationId, phase.nrNeededStaff)"
                [checked]="isSelected(staff, 'surgery', phase.specializationId)" 
                [disabled]="isMaxSelected('surgery', phase.specializationId, phase.nrNeededStaff) && !isSelected(staff, 'surgery', phase.specializationId)" />
                {{ staff }} <!-- Exibindo o ID do staff -->
              </label>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Mensagem de erro - Colocada antes dos botões -->
      <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
      </div>

      <!-- Mensagem de aviso para preencher campos obrigatórios -->
    <div *ngIf="!IsMedicalTeamShowForAppointmentCreate" class="warning-message">
        <p>{{ "To choose the medical team for this appointment you need to fill the (operation request, start time and date) fields" }}</p>
    </div>
  
      <!-- Botões de ação -->
      <div class="form-actions">
        <button type="button" (click)="confirmSubmission()">Confirm</button>
        <button type="button" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  
    <!-- Modal de confirmação -->
    <div class="confirmation-modal" *ngIf="showConfirmation">
      <div class="modal-content">
        <h3>Confirm Appointment</h3>
        <p>Are you sure you want to create this appointment?</p>
        <div class="modal-actions">
          <button (click)="onSubmit(appointmentForm)">Yes</button>
          <button (click)="closeConfirmationModal()">No</button>
        </div>
      </div>
    </div>
  
    

    <!-- Indicador de carregamento -->
    <div *ngIf="loadingMedicalTeam" class="loading-spinner">
      <div class="spinner"></div> <!-- O spinner -->
      <p>Loading medical team...</p>
    </div>
  </div>
  

  